*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#fff;
color:#222;
}

.topbar{
background:#111;
color:#fff;
padding:12px;
text-align:center;
font-size:14px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
box-shadow:0 5px 20px rgba(0,0,0,.08);
background:#fff;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:30px;
font-weight:700;
color:#d81b60;
}

nav a{
text-decoration:none;
margin-left:25px;
color:#333;
font-weight:600;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:60px 8%;
}

.hero-left{
width:50%;
}

.hero-right{
width:45%;
}

.hero-right img{
width:100%;
border-radius:20px;
}

.offer{
background:#ffeb3b;
padding:10px 20px;
border-radius:50px;
font-weight:bold;
display:inline-block;
}

.hero h1{
font-size:52px;
margin-top:20px;
}

.hero p{
margin:20px 0;
font-size:18px;
color:#666;
}

.old-price{
text-decoration:line-through;
font-size:26px;
color:#888;
margin-right:15px;
}

.new-price{
font-size:46px;
font-weight:700;
color:#d60000;
}

.buy-btn{
display:inline-block;
margin-top:30px;
padding:18px 40px;
background:#d81b60;
color:#fff;
text-decoration:none;
border-radius:50px;
font-size:20px;
font-weight:600;
}

.buy-btn:hover{
background:#000;
}

@media(max-width:768px){

header{
flex-direction:column;
gap:15px;
}

nav a{
margin:0 10px;
}

.hero{
flex-direction:column;
}

.hero-left,
.hero-right{
width:100%;
text-align:center;
}

.hero h1{
font-size:34px;
}

.hero-right{
margin-top:30px;
}

}
